#info{
	position:absolute; 
	right:10%; 
	top:80%;
	border-width:1px; 
	width:250px; 
	height:400px;
}

#menu{
	position:absolute; 
	right:20%; 
	top:30%;
	border-width:1px; 
	width:180px; 
	height:115px;" 
}