#info{
	/*
	position:absolute; 
	right:10%; 
	bottom:30%;
	border-width:1px; 
	width:250px; 
	height:400px;
	*/
}

#menu{
	
	/*
	border-width:1px; 
	position:absolute; 
	right:20%; 
	top:0%;
	width:180px; 
	height:115px;" 
	*/
	
}

#container{
	top:100px;
	width:270px; 
	height:400px;
	float: right;
}